//blue
$color-primary:#292E5E;

//pink
$color-secondary:#DD1550;

$color-light:#F1F1F7;

$color-success: #405DCF ;

$margin-left-content: 2rem;
// $color-danger:;

$header-height:5rem;

// $font-primary : 'Open Sans';
$font-primary : 'Futura';
$font-secondary : 'Lato';
$font-small:18px;
$font-big:35px;
$typo: 'Lato';

$row-spacing : 10rem;


$sidebar-width : 285px;
$sidebar-width-medium : 150px;
$sidebar-width-small : 120px;

