//blue
$color-primary:#292E5E;

//pink
$color-secondary:#DD1550;

$color-light:#F1F1F7;

$color-success: #405DCF ;

$color-text: #7c7c7c!important;

$margin-left-content: 2rem;
// $color-danger:;

$header-height:5rem;

// $font-primary : 'Futura';
// $font-secondary : 'Lato';
$font-primary : 'Poppins';
$font-secondary : 'Muli';
$font-small:18px;
$font-big:35px;
$typo: 'Lato';

$row-spacing : 10rem;

// SIDEBAR WIDTH
$sidebar-width : 285px;
$sidebar-width-medium : 150px;
$sidebar-width-small : 100px;

