$color-1:red;
$color-2:black;
$font-small:18px;
$font-big:30px;
$typo: arial;



body{
    background: $color-1;
}

h1 {
    color: $color-2;
    font-size: $font-big;
    font-family: $typo;
    text-align: center;
}
p {
    color: $color-2;
    font-size: $font-small;
    font-family: $typo;
}