.header .form-control {
    height: $header-height;
    
    background-color: rgb(240, 240, 240);
    //background-color: $color-light;
    //background-color: white;
}

.header  {
    position: fixed;
    top:0;
    width:100%;
    margin-left: $sidebar-width;
}



