.content {
    //padding-top : header size (to show content)
    //padding: $header-height+5rem 250px 0rem 250px;
    //padding: $header-height+2rem 15rem 0rem 15rem;
    // padding: $header-height+2rem 15% 0rem 15%
    padding-top: $header-height;
    //padding-top: $header-height+5rem ;
    margin-left: 285px;
}

.main{
     //margin-left: 285px;
}



//article preview
.article-preview {
    padding:  $row-spacing 0 $row-spacing 0;

}

.article-preview__title {
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.article-preview__text {
    //margin: 0px 40px 0px 30px;
    margin: 0rem 2rem 0rem $margin-left-content;
}

.article-preview__img {
    width: 400px;
}

.article-preview__img-wrapper {
    text-align: center;
}




//popular-articles
.popular-articles {
    margin: 3rem 0rem 0rem 0rem;
    
    
}

.popular-articles--center{
    display: flex;
    justify-content: space-around    ;
}

.popular-articles__card {
    
}

.popular-articles__title {
    @extend .article-preview__title ;
}

.popular-articles__link {
    font-family: $font-primary;
    display: flex;
    justify-content: center;
    margin: 5rem 0rem 8rem 0;
}





//contact
.contact {
    display: flex;
    justify-content: center;
    padding:  8rem 0 5rem 0;
}


.contact__title {
    //display: flex;
    text-align: center;
    //justify-content: center;
    margin-bottom:2rem;
}





//PAGE ALL ARTICLES

.all-articles {
    margin: 4rem 0 8rem 0
}



//PAGE ARTICLE
.article {

    .article__title {
        margin-bottom: 3rem ;
    }
    
    .article__header {
        margin-bottom: 6rem ;
    }
    
    .article__subtitle {
        margin-bottom: 4rem;
        margin-top: 8rem;
    }
    
    .article__text {
        //margin-left: $margin-left-content;
    }

    .article__img {
        text-align:center;
        margin-bottom: 2rem;
    }


}

.article-footer {
    margin-top: 15rem;
    margin-bottom: 5rem;

    .article-footer__title {
        text-align: center;
        margin-bottom: 4rem;
    }
}

.card-big-screen {
    display: flex;
}

.card-medium-screen {
    display: none;
}

@media screen and (max-width:1200px) {
    body {
       // background-color: salmon;
    }

    .article-preview .article-preview__text {
        margin-bottom: 2rem;
    }

    .card-medium-screen {
        display: flex;
    }
    .card-big-screen {
        display: none;
    }

    .popular-articles {
        margin-bottom: 0;

        .card--horizontal {
            margin-bottom: 2rem;
        }

        .popular-articles__link {
            margin-bottom: 8rem;
        }


    }
    
    
   

    
}