.content {
    //padding-top : header size (to show content)
    //padding: $header-height+5rem 250px 0rem 250px;
    //padding: $header-height+2rem 15rem 0rem 15rem;
    // padding: $header-height+2rem 15% 0rem 15%
    padding: $header-height+2rem 0rem 0rem 0rem
    //padding-top: $header-height+5rem ;
}



//article preview
.article-preview {
    padding:  $row-spacing 0 $row-spacing 0;

}

.article-preview__title {
    margin-bottom: 3rem;
}

.article-preview__text {
    //margin: 0px 40px 0px 30px;
    margin: 0rem 2rem 0rem $margin-left-content;
}

.article-preview__img {
    width: 400px;
}

.article-preview__img-wrapper {
    text-align: center;
}




//popular-articles
.popular-articles {
    margin: 3rem 0rem $row-spacing 0rem;
    
    
}

.popular-articles--center{
    display: flex;
    justify-content: space-around    ;
}

.popular-articles__card {
    
}

.popular-articles__title {
    @extend .article-preview__title ;
}

.popular-articles__link {
    font-family: $font-primary;
    display: flex;
    justify-content: center;
    margin: 5rem 0rem 0 0;
}





//contact
.contact {
    display: flex;
    justify-content: center;
    padding:  8rem 0 0 0;
}


.contact__title {
    display: flex;
    justify-content: center;
    margin-bottom:2rem;
}

