.content {
    padding-top: $header-height;
}

.main{
     margin-left: $sidebar-width;
}




//PAGE HOME

//article preview
.article-preview {
    padding:  $row-spacing 0 $row-spacing+2rem 0;
    position: static !important;

    .article-preview__title {
        margin-bottom: 3rem;
        //margin-left: 1rem;
    }   

    .article-preview__text {
        //margin: 0px 40px 0px 30px;
        margin: 0rem 2rem 0rem $margin-left-content;
    }

    .article-preview__img-wrapper {
        text-align: center;
        //order: 2;
    }
    
    .article-preview__img {
        width: 400px;
        
    }
    
        @include make-col-ready();
        @include media-breakpoint-down(md) {
            
            @include make-col(12);     
            
            .article-preview__text-wrapper {
                order: 2;
                
            }
    
            .article-preview__img-wrapper {
                margin-bottom: 2rem;
                order: 1;
                display: flex;
                align-items: center;
            }

            p {
                margin: 2rem;
            }
    
            a {
                margin: 2rem;
            }
            
        }

        .article-preview__text-wrapper {
            @include media-breakpoint-up(lg) {
                @include make-col(6);
            }
        }

        .article-preview__img-wrapper {
            @include media-breakpoint-up(lg) {
                @include make-col(6);
            }
        }
}


//popular-articles

.popular-articles{
    @include make-row();
    @include media-breakpoint-up(lg) {
    margin-left: 2rem;
    }
}

.popular-articles__title {
    @extend .article-preview__title ;
}

.popular-articles__link {
    font-family: $font-primary;
    display: flex;
    justify-content: center;
    margin: 5rem 0rem 8rem 0;
}


//contact
.contact {
    display: flex;
    justify-content: center;
    padding:  10rem 0 5rem 0;
}


.contact__title {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}







//PAGE ALL ARTICLES

.all-articles {
    margin: 4rem 0 8rem 0;

    // @include media-breakpoint-(md) {
    //     .popular-articles--center {
    //     //delete center
    //     display: block;
    //     }
    // }    
    
}








//PAGE ARTICLE
.article {

    .article__title {
        margin-top: 3rem;
        margin-bottom: 3rem ;
    }
    
    .article__header {
        margin-bottom: 6rem ;
    }
    
    .article__subtitle {
        margin-bottom: 4rem;
        margin-top: 8rem;
    }

    .article__img {
        text-align:center;
        margin-bottom: 2rem;
    }

    //margin on small devices
    @include media-breakpoint-down(md) {
        .article__header {
            margin: 0 4rem 0 4rem;
        }

        .article__img {
            margin: 0 4rem 2rem 4rem;
        }
    
        .article__text {
            margin: 0 4rem 0 4rem;
        }
    
    }


}

.article-footer {
    margin-top: 15rem;
    margin-bottom: 5rem;
    justify-content: center;

    .article-footer__title {
        text-align: center;
        margin-bottom: 4rem;
    }
}











//RESPONSIVE

// @media screen and (max-width:1200px) {

    // .flex-medium-screen {
    //     display: flex;
    // }
  
    // .popular-articles {
    //     margin-bottom: 0;

    //     .card--horizontal {
    //         margin-bottom: 2rem;
    //     }

    //     .popular-articles__link {
    //         margin-bottom: 8rem;
    //     }
    // }
// }

// @media screen and (max-width:768px) {
    
// }


@media screen and (max-width:576px) {
    .main{
        margin-left: 0 !important;
    }
}



