.sidebar .navbar-nav {
    position: fixed ;
    top:0;
    left:0;
    height: 100vh;
    background-color: $color-primary;
}

.sidebar-wrapper {
    background-color: $color-primary;
}

h3 {
    color: red;
}

.header .form-control {
    height: 97px;
}
