.clicked {
    
}

.sidebar-wrapper {
    //min-width: 180px;;
}

.sidebar { 
    position: fixed ;
    top:0;
    left:0;
    height: 100vh;
    padding: 0;
    min-width: $sidebar-width;
    background-color: $color-primary;
    @extend .navbar-nav;
    //overflow-y: scroll;
        
        ul {
            list-style: none;
            padding: 0;
        }

        .sidebar__img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: $header-height;
            margin-bottom: 3rem;
            @extend .nav-item;
            @extend .dropdown;
            transition: all 0.2s linear  ;

                &:hover {
                    background-color: rgb(27, 27, 70);
                    transition: all 0.2s linear  ;
                }
            
                img {
                    height: $header-height - ($header-height / 4) ;
                }
        }
        
        .sidebar__item {
            //margin-right: 2rem;
            padding:0;
            margin-bottom: 3rem;
            @extend .nav-item;
            @extend .dropdown;
            border-left: 0px solid $color-secondary;
            transition: all 0.3s linear  ;

            &:hover {
                border-left: 6px solid $color-secondary;
                transition: all 0.3s linear  ;
            }
        }

        .sidebar__nav-item {
            padding-left: 3rem;
            font-family: $font-primary;
            font-size: 1.3rem;
            //font-weight: 700;
            text-decoration: none;
            @extend .text-white;
            @extend .nav-link;
            @extend .dropdown-toggle;
            
            
            &::after {
                transform: rotate(-90deg);
                transition: all 0.4s linear;
            }
            &.clicked{
                &::after{
                    transform: rotate(0deg);
                    //transition-duration: 0.5s;
                    transition: all 0.4s linear;
                }
            }

            &:hover {
                @extend .text-secondary ;
                //@extend .sidebar__nav-item--selected;
            }
        }
        

        .sidebar__nav-sub-item {
            padding-left: 5rem;
            font-family: $font-secondary;
            font-size: 1rem;
            font-weight: 300;
            text-decoration: none;
            
            @extend .text-white;
            @extend .nav-link;

            &:hover {
                @extend .sidebar__nav-sub-item--selected
            }
        }


        .sidebar__item--selected {
            border-left: 6px solid $color-secondary;   
            
        }
        

        .sidebar__nav-item--selected {
                @extend .text-secondary ;
                &::after{
                    transform: rotate(0deg) !important;
                }
        }

        .sidebar__nav-sub-item--selected {
            font-weight: 700;
            @extend .text-secondary ;
            //border-left: 6px solid $color-secondary;
            //padding-left: 4.5rem;
    }
}


@media screen and (max-width:992px) {
    .sidebar {
        min-width: $sidebar-width-medium;
        max-width: $sidebar-width-medium;

        .sidebar__img img {
            height: 2.5rem ;
        }

        .sidebar__item:hover {
            border-left: 0;
        }

        .sidebar__nav-item {
            text-align: center;
            padding-left: 0;
            padding-bottom: 40px;
            
            &::after{
                transform: rotate(0deg);
                position: absolute;
                top:55px;
                text-align: center;
                right: 67px;
        }
        }

        .sidebar__nav-sub-item {
            text-align: center;
            padding-left: 0 ;
        }

        .sidebar__item--selected {
            border-left: 0;   
            
        }
    }

    .header {
        margin-left: $sidebar-width-medium;
    }

    .main {
        margin-left: $sidebar-width-medium;;
    }
}

@media (max-width: 576px) { 
    .sidebar {
        min-width: $sidebar-width-small;
        max-width: $sidebar-width-small;

        .sidebar__img img {
            height: 2.5rem ;
        }

        .sidebar__item:hover {
            border-left: 0;
        }

        .sidebar__nav-item {
            text-align: center;
            padding-left: 0;
            padding-bottom: 40px;
            
            &::after{
                transform: rotate(0deg);
                position: absolute;
                top:55px;
                text-align: center;
                right: 40px;
        }
        }

        .sidebar__nav-sub-item {
            text-align: center;
            padding-left: 0 ;
        }

        .sidebar__item--selected {
            border-left: 0;   
            
        }
    }

    .header {
        margin-left: $sidebar-width-small;
    }

    .main {
        margin-left: $sidebar-width-small;;
    }
}
