// Custom.scss
// Option A: Include all of Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";



$color-1:rgb(17, 17, 17);
$color-2:white;
$font-small:18px;
$font-big:30px;
$typo: arial;



body{
    background: $color-light;
    height: 400vh;
}

h1 {
    color: $color-secondary;
    font-size: $font-big;
    font-family: $typo;
    text-align: center;
}
p {
    color: $color-primary;
    font-size: $font-small;
    font-family: $typo;
}