// Custom.scss
// Option A: Include all of Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";

//blue
$color-primary:#292E5E;

//pink
$color-secondary:#DD1550;

$color-1:rgb(17, 17, 17);
$color-2:white;
$font-small:18px;
$font-big:30px;
$typo: arial;



body{
    background: $color-1;
    height: 400vh;
}

h1 {
    color: $color-2;
    font-size: $font-big;
    font-family: $typo;
    text-align: center;
}
p {
    color: $color-2;
    font-size: $font-small;
    font-family: $typo;
}