p {
    //color: rgb(95, 95, 95);
    color: $color-text;
    font-size: $font-small;
    font-family: $font-secondary;
}

h1 {
    padding: 2rem;
    color: rgb(46, 46, 46);
    font-size: 3rem !important;
    //font-weight: 600 !important;
    // font-weight: 400 !important;
    font-family: $font-primary;
    text-align: center;
}

.section__title {
    margin-bottom: 5rem;
}

h3 {
    font-family: $font-primary;
    color: rgb(53, 53, 53) ;
}



@include media-breakpoint-only(xs) {    
    .section__title-wrapper {
        display: flex;
        justify-content: center;
    }
    h3 {
        text-align: center;
    }
}