p {
    color: rgb(95, 95, 95);
    font-size: $font-small;
    font-family: $font-secondary;
}

h1 {
    padding: 2rem;
    color: rgb(46, 46, 46);
    font-size: 3rem !important;
    font-weight: 700;
    font-family: $font-primary;
    text-align: center;
}

h3 {
    //font-family: 'Nunito Sans';
    font-family: $font-primary;
    color: rgb(53, 53, 53) ;
    //font-weight: 500 !important;
}