p {
    color: rgb(95, 95, 95);
    font-size: $font-small;
    font-family: $typo;
}

h1 {
    padding: 2rem;
    color: $color-secondary;
    font-size: '$font-big';
    font-weight: 700;
    font-family: $typo;
    text-align: center;
}

h3 {
    //font-family: 'Nunito Sans';
    font-family: 'Futura-medium';
    //font-weight: 700 !important;
}