



//pour personnaliser bootstrap




  $theme-colors: (
  "primary": $color-primary,
  "secondary":  $color-secondary,
    "success":    $color-success,
    // "info":       $info,
    // "warning":    $warning,
    // "danger":     $danger,
    "light":      $color-light,
    // "dark":       $dark
);

// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .dropdown-menu {
    position: static;
  }
}


.dropdown-toggle::after{
  position: absolute;
  top: 1.4rem;
  right: 1.5rem;
  //transform: rotate(-90deg);
  //transition-duration: 0.5s;
}


//décale rechercher
.header .form-control {
  padding-left: 30px;
}


.container {
  padding: 0 !important;
}

$grid-breakpoints: (
  xs: 0,
  sm:800px,
  // sm: 674px,
  md: 1200px,
  lg:1400px
  // md: 768px,
  // lg: 1024px
);


// .col-4 {
//   margin: 0px !important;
//   padding:0px !important;
// }

// .row {
//   margin: 0px !important;
//   padding:0px !important;
// }

// .card {
//   margin: 0px !important;
//   padding:0px !important;
// }

//dans grid-framework : plus de relative
// @mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
//   // Common properties for all breakpoints
//   %grid-column {
//     position: relative;
//     width: 100%;
//     padding-right: $gutter / 2;
//     padding-left: $gutter / 2;
//   }

  
// $primary:       red !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;



// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// ) !default;
