// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-group-4-name: 'Group 4';
$-group-4-x: 3435px;
$-group-4-y: 1009px;
$-group-4-offset-x: -3435px;
$-group-4-offset-y: -1009px;
$-group-4-width: 54px;
$-group-4-height: 54px;
$-group-4-total-width: 3642px;
$-group-4-total-height: 2268px;
$-group-4-image: '../img/sprites/sprite.png';
$-group-4: (3435px, 1009px, -3435px, -1009px, 54px, 54px, 3642px, 2268px, '../img/sprites/sprite.png', 'Group 4', );
$django-connexion-name: 'django-connexion';
$django-connexion-x: 0px;
$django-connexion-y: 0px;
$django-connexion-offset-x: 0px;
$django-connexion-offset-y: 0px;
$django-connexion-width: 2191px;
$django-connexion-height: 1346px;
$django-connexion-total-width: 3642px;
$django-connexion-total-height: 2268px;
$django-connexion-image: '../img/sprites/sprite.png';
$django-connexion: (0px, 0px, 0px, 0px, 2191px, 1346px, 3642px, 2268px, '../img/sprites/sprite.png', 'django-connexion', );
$icon-grid-name: 'icon-grid';
$icon-grid-x: 3489px;
$icon-grid-y: 1009px;
$icon-grid-offset-x: -3489px;
$icon-grid-offset-y: -1009px;
$icon-grid-width: 54px;
$icon-grid-height: 54px;
$icon-grid-total-width: 3642px;
$icon-grid-total-height: 2268px;
$icon-grid-image: '../img/sprites/sprite.png';
$icon-grid: (3489px, 1009px, -3489px, -1009px, 54px, 54px, 3642px, 2268px, '../img/sprites/sprite.png', 'icon-grid', );
$icon-paint-name: 'icon-paint';
$icon-paint-x: 3575px;
$icon-paint-y: 922px;
$icon-paint-offset-x: -3575px;
$icon-paint-offset-y: -922px;
$icon-paint-width: 57px;
$icon-paint-height: 57px;
$icon-paint-total-width: 3642px;
$icon-paint-total-height: 2268px;
$icon-paint-image: '../img/sprites/sprite.png';
$icon-paint: (3575px, 922px, -3575px, -922px, 57px, 57px, 3642px, 2268px, '../img/sprites/sprite.png', 'icon-paint', );
$icon-pen-name: 'icon-pen';
$icon-pen-x: 3379px;
$icon-pen-y: 1009px;
$icon-pen-offset-x: -3379px;
$icon-pen-offset-y: -1009px;
$icon-pen-width: 56px;
$icon-pen-height: 56px;
$icon-pen-total-width: 3642px;
$icon-pen-total-height: 2268px;
$icon-pen-image: '../img/sprites/sprite.png';
$icon-pen: (3379px, 1009px, -3379px, -1009px, 56px, 56px, 3642px, 2268px, '../img/sprites/sprite.png', 'icon-pen', );
$img-1-name: 'img-1';
$img-1-x: 2191px;
$img-1-y: 0px;
$img-1-offset-x: -2191px;
$img-1-offset-y: 0px;
$img-1-width: 1451px;
$img-1-height: 922px;
$img-1-total-width: 3642px;
$img-1-total-height: 2268px;
$img-1-image: '../img/sprites/sprite.png';
$img-1: (2191px, 0px, -2191px, 0px, 1451px, 922px, 3642px, 2268px, '../img/sprites/sprite.png', 'img-1', );
$img-2-name: 'img-2';
$img-2-x: 0px;
$img-2-y: 1346px;
$img-2-offset-x: 0px;
$img-2-offset-y: -1346px;
$img-2-width: 1451px;
$img-2-height: 922px;
$img-2-total-width: 3642px;
$img-2-total-height: 2268px;
$img-2-image: '../img/sprites/sprite.png';
$img-2: (0px, 1346px, 0px, -1346px, 1451px, 922px, 3642px, 2268px, '../img/sprites/sprite.png', 'img-2', );
$img-3-name: 'img-3';
$img-3-x: 2191px;
$img-3-y: 922px;
$img-3-offset-x: -2191px;
$img-3-offset-y: -922px;
$img-3-width: 651px;
$img-3-height: 264px;
$img-3-total-width: 3642px;
$img-3-total-height: 2268px;
$img-3-image: '../img/sprites/sprite.png';
$img-3: (2191px, 922px, -2191px, -922px, 651px, 264px, 3642px, 2268px, '../img/sprites/sprite.png', 'img-3', );
$kapt-white-name: 'kapt-white';
$kapt-white-x: 3379px;
$kapt-white-y: 922px;
$kapt-white-offset-x: -3379px;
$kapt-white-offset-y: -922px;
$kapt-white-width: 196px;
$kapt-white-height: 87px;
$kapt-white-total-width: 3642px;
$kapt-white-total-height: 2268px;
$kapt-white-image: '../img/sprites/sprite.png';
$kapt-white: (3379px, 922px, -3379px, -922px, 196px, 87px, 3642px, 2268px, '../img/sprites/sprite.png', 'kapt-white', );
$logo-kapt-name: 'logo-kapt';
$logo-kapt-x: 2842px;
$logo-kapt-y: 922px;
$logo-kapt-offset-x: -2842px;
$logo-kapt-offset-y: -922px;
$logo-kapt-width: 537px;
$logo-kapt-height: 184px;
$logo-kapt-total-width: 3642px;
$logo-kapt-total-height: 2268px;
$logo-kapt-image: '../img/sprites/sprite.png';
$logo-kapt: (2842px, 922px, -2842px, -922px, 537px, 184px, 3642px, 2268px, '../img/sprites/sprite.png', 'logo-kapt', );
$spritesheet-width: 3642px;
$spritesheet-height: 2268px;
$spritesheet-image: '../img/sprites/sprite.png';
$spritesheet-sprites: ($-group-4, $django-connexion, $icon-grid, $icon-paint, $icon-pen, $img-1, $img-2, $img-3, $kapt-white, $logo-kapt, );
$spritesheet: (3642px, 2268px, '../img/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
